body {background-color: darkgray;}

.title {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}

.subtitle {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;       
    font-size: 28px;
    animation: flicker 3s infinite;       
}
@keyframes flicker {
    0%, 100% { opacity: 100; }
    50% { opacity: 0; }
}
.aboutme {
    color: black;
    text-align: left;
    font-family: 'Arial', sans-serif;
    margin-top: 70px;  
    margin-left: 20px;     
    font-size: 24px;
}
.textbox {
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    width: 700px;
}

.textbox1 {
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    width: 200px;
}

.project {
    color: black;
    text-align: left;
    font-family: 'Arial', sans-serif;
    margin-top: 90px;  
    margin-left: 20px;     
    font-size: 24px;
}

.rabbit { position: absolute; right: 250px; top: 20px;
    
    
}

